extends layout

block layout-content
  div.View
    h1.Banner NYXBLOOM
    div.Message
      div.Title
        h1 BEST CARD EVER
        img(src='nyxbloom.png' alt='NYXBLOOM' style='width:500px; height:auto;')
